event-calendar.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <!-- Chartist Chart CSS -->
    <link href="plugins/chartist/css/chartist.min.css" rel="stylesheet">
    <!-- Bootstrap 4.0-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!--Datepicker-->
    <link href="plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">
    
    <!-- Daterangepicker-->
    <link href="plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Data table-->
    <link href="plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet">
    <!-- data table responsive-->
    <link href="plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet">
    <!-- Sweet alert-->
    <link href="plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet">
    
    <!-- Calendario-->
    <link href="plugins/fullcalendar/css/fullcalendar.min.css" rel="stylesheet">
    <!-- -->
    <!--Dropzone-->
    <link href="plugins/dropzone/dist/dropzone.css" rel="stylesheet">
    
    <!--theme css-->
    <link href="assets/css/metismenu.min.css" rel="stylesheet">
    <link href="assets/css/icons.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-vinolia.css" rel="stylesheet">
    <!-- Estilos desarrollo -->
  </head>
  <body>
    <div id="wrapper">
      <div class="topbar">
        <div class="topbar-left"><a class="logo" href="index.html"><span><img src="assets/images/logo.png" alt="" width="150"></span><i><img src="assets/images/logo-sm.png" alt="" height="42"></i></a></div>
        <nav class="navbar-custom">
          <ul class="navbar-right d-flex list-inline float-right mb-0">
            <li class="dropdown notification-list d-none d-md-block"><a class="nav-link waves-effect" href="#" id="btn-fullscreen"><i class="mdi mdi-fullscreen noti-icon"></i></a></li>
            <li class="dropdown notification-list">
              <div class="dropdown notification-list nav-pro-img"><a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"><img class="rounded-circle" src="assets/images/users/user-4.jpg" alt="user"></a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown"><a class="dropdown-item" href=""><i class="mdi mdi-account-circle m-r-5"></i>Profile</a><a class="dropdown-item" href=""><i class="mdi mdi-wallet m-r-5"></i>My Wallet</a><a class="dropdown-item  d-block" href=""><span class="badge badge-success float-right"></span>11</a>
                  <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href=""><i class="mdi mdi-power text-danger">Salir</i></a>
                </div>
              </div>
            </li>
          </ul>
          <ul class="list-inline menu-left mb-0">
            <li class="float-left">
              <button class="button-menu-mobile open-left waves-effect"><i class="mdi mdi-menu"></i></button>
            </li>
          </ul>
          <h1 class="topbar-title">Mantenedor de Eventos y tickets</h1>
        </nav>
      </div>
      <div class="left side-menu">
        <div class="slimscroll-menu" id="remove-scroll">
          <div id="sidebar-menu">
            <ul class="metismenu" id="side-menu">
              <li><a class="waves-effect" href="index.html"><span>Eventos</span></a></li>
              <li><a class="waves-effect" href="event-new.html"><span>Crear nuevo Eventos                </span></a></li>
              <li><a class="waves-effect" href="event-calendar.html"><span>Calendario de eventos</span></a></li>
              <li><a class="waves-effect" href="promotions-code.html"><span>Manejador de descuentos</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="content-page">
        <div class="content">
          <div class="container-fluid">
            <div class="page-title-box">
              <div class="row align-items-center">
                <div class="col-sm-6">
                  <h4 class="page-title">Calendario de evenetos</h4>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="section-filter">
                  <form class="form-inline" action="">
                    <div class="form-group">
                      <div class="custom-control custom-checkbox mr-3">
                        <input class="custom-control-input" type="checkbox" id="allEvents" name="daterange">
                        <label class="custom-control-label" for="allEvents">Todos los eventos</label>
                      </div>
                      <div class="custom-control custom-checkbox mr-3">
                        <input class="custom-control-input" type="checkbox" id="privateEvents" name="daterange">
                        <label class="custom-control-label" for="privateEvents">Eventos privados</label>
                      </div>
                      <div class="custom-control custom-checkbox mr-3">
                        <input class="custom-control-input" type="checkbox" id="selectDates" name="daterange">
                        <label class="custom-control-label" for="selectDates">Fechas                                  </label>
                      </div>
                    </div>
                    <div class="form-group">
                      <input class="form-control daterange-calendar-full mr-3" type="text" id="selectDateCalendar" name="eventCalendar">
                    </div>
                    <div class="form-group">
                      <button class="btn btn-danger mr-3">Bloquear día</button>
                    </div>
                  </form>
                </div>
                <div class="section-calendar">
                  <div id="calendar"></div>
                  <div style="clear:both"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Basic-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/metisMenu.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/waves.min.js"></script>
    
    <!-- plugins-->
    <!--daterangepicker-->
    <script src="plugins/daterangepicker/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    
    <!--datepicker-->
    <script src="plugins/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
    
    <!--datatable-->
    <script src="plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Datatable responsive-->
    <script src="plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="plugins/datatables/responsive.bootstrap4.min.js"></script>
    <!--fullcalendar-->
    <script src="plugins/fullcalendar/js/fullcalendar.min.js"></script>
    <!--Dropzone-->
    <script src="plugins/dropzone/dist/dropzone.js"></script>
    <!-- init files-->
    <script src="assets/pages/calendar-init.js"></script>
    <script src="assets/pages/datatables.init.js"></script>
    
    <script src="assets/js/app.js"></script>
    <script src="assets/js/custom.js"></script>
  </body>
</html>

_dev/pug/event-calendar.pug
include mixins.pug
doctype
html(lang="es")
    head
        include head.pug
    body
        #wrapper
            include topbar.pug
            include menu.pug
            +main-content
                +page-title('Calendario de evenetos')
                .card
                    .card-body
                        .section-filter
                            form(action="" class="form-inline")
                                .form-group
                                    .custom-control.custom-checkbox.mr-3
                                        input(type="checkbox" class="custom-control-input" id="allEvents" name="daterange" )
                                        label(class="custom-control-label" for="allEvents") Todos los eventos

                                    .custom-control.custom-checkbox.mr-3
                                        input(type="checkbox" class="custom-control-input" id="privateEvents" name="daterange" )
                                        label(class="custom-control-label" for="privateEvents") Eventos privados

                                    .custom-control.custom-checkbox.mr-3
                                        input(type="checkbox" class="custom-control-input" id="selectDates" name="daterange" )
                                        label(class="custom-control-label" for="selectDates") Fechas                                  
                                .form-group
                                    input(type="text" id="selectDateCalendar" name="eventCalendar" class="form-control daterange-calendar-full mr-3")
                                .form-group
                                    button.btn.btn-danger.mr-3() Bloquear día
                        .section-calendar
                            #calendar
                            div(style='clear:both')






                    
        include scripts.pug
