_dev/pug/event-information.pug
include mixins.pug
doctype
html(lang="es")
    head
        include head.pug
    body
        #wrapper
            include topbar.pug
            include menu.pug
            +main-content
                +page-title('Asistencia al Evento')
                    section#event-review
                        .row
                                .col-lg-6
                                    .card.card-event-data
                                        .card-body
                                            .row.row-sm
                                                .col-lg-8
                                                    h3.card-title Información del evento
                                                    p <strong>Nombre del Evento:</strong> <span class="event-name"> Lorem ipsum </span>
                                                    p <strong>Fecha:</strong> <span class="event-day"> 10-10-2019</span> <span class="event-time"> 10:30 AM</span>
                                                    p <strong>Cupos disponibles:</strong> <span class="event-quotas"> 18/22</span>
                                                    p <strong>Categoría:</strong> <span class="event-category"> Evento privado </span>
                                                    p <strong>Link del evento:</strong> <a class="event-link" href="#"> https://www.vinolia.cl/evento/adsdas </a>

                                                .col-lg-4
                                                    .event-thumbnail
                                                        img(src="http://placehold.it/250x250", alt="" class="img-fluid")
                                        .card-footer.d-flex.justify-content-between
                                            .actions.d-flex.justify-content-between
                                                a(href="#" class="btn btn-success btn-lg mr-2") Editar
                                                a(href="#" class="btn btn-danger btn-lg mr-2") Bloquear evento
                                            .delete
                                                    a(href="#" class="btn btn-link btn-link-danger btn-lg mr-2") Eliminar evento
                    section#event-attendant.my-3
                        .card
                            .card-header.d-flex.justify-content-between
                                h2.card-title Lista de asistentes
                                .actions
                                    a(href="event-new-attendant.html" class="btn btn-info  mr-2") Agregar asistente
                                    a(href="#" class="btn btn-primary") Descargar Lista
                            .card-body
                                .table-section
                                    +datatable-attendant

                         

                




                    
        include scripts.pug

event-information.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <!-- Chartist Chart CSS -->
    <link href="plugins/chartist/css/chartist.min.css" rel="stylesheet">
    <!-- Bootstrap 4.0-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!--Datepicker-->
    <link href="plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">
    
    <!-- Daterangepicker-->
    <link href="plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Data table-->
    <link href="plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet">
    <!-- data table responsive-->
    <link href="plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet">
    <!-- Sweet alert-->
    <link href="plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet">
    
    <!-- Calendario-->
    <link href="plugins/fullcalendar/css/fullcalendar.min.css" rel="stylesheet">
    <!-- -->
    <!--Dropzone-->
    <link href="plugins/dropzone/dist/dropzone.css" rel="stylesheet">
    
    <!--theme css-->
    <link href="assets/css/metismenu.min.css" rel="stylesheet">
    <link href="assets/css/icons.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-vinolia.css" rel="stylesheet">
    <!-- Estilos desarrollo -->
  </head>
  <body>
    <div id="wrapper">
      <div class="topbar">
        <div class="topbar-left"><a class="logo" href="index.html"><span><img src="assets/images/logo.png" alt="" width="150"></span><i><img src="assets/images/logo-sm.png" alt="" height="42"></i></a></div>
        <nav class="navbar-custom">
          <ul class="navbar-right d-flex list-inline float-right mb-0">
            <li class="dropdown notification-list d-none d-md-block"><a class="nav-link waves-effect" href="#" id="btn-fullscreen"><i class="mdi mdi-fullscreen noti-icon"></i></a></li>
            <li class="dropdown notification-list">
              <div class="dropdown notification-list nav-pro-img"><a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"><img class="rounded-circle" src="assets/images/users/user-4.jpg" alt="user"></a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown"><a class="dropdown-item" href=""><i class="mdi mdi-account-circle m-r-5"></i>Profile</a><a class="dropdown-item" href=""><i class="mdi mdi-wallet m-r-5"></i>My Wallet</a><a class="dropdown-item  d-block" href=""><span class="badge badge-success float-right"></span>11</a>
                  <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href=""><i class="mdi mdi-power text-danger">Salir</i></a>
                </div>
              </div>
            </li>
          </ul>
          <ul class="list-inline menu-left mb-0">
            <li class="float-left">
              <button class="button-menu-mobile open-left waves-effect"><i class="mdi mdi-menu"></i></button>
            </li>
          </ul>
          <h1 class="topbar-title">Mantenedor de Eventos y tickets</h1>
        </nav>
      </div>
      <div class="left side-menu">
        <div class="slimscroll-menu" id="remove-scroll">
          <div id="sidebar-menu">
            <ul class="metismenu" id="side-menu">
              <li><a class="waves-effect" href="index.html"><span>Eventos</span></a></li>
              <li><a class="waves-effect" href="event-new.html"><span>Crear nuevo Eventos                </span></a></li>
              <li><a class="waves-effect" href="event-calendar.html"><span>Calendario de eventos</span></a></li>
              <li><a class="waves-effect" href="promotions-code.html"><span>Manejador de descuentos</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="content-page">
        <div class="content">
          <div class="container-fluid">
            <div class="page-title-box">
              <div class="row align-items-center">
                <div class="col-sm-6">
                  <h4 class="page-title">Asistencia al Evento</h4>
                </div>
              </div>
              <section id="event-review">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="card card-event-data">
                      <div class="card-body">
                        <div class="row row-sm">
                          <div class="col-lg-8">
                            <h3 class="card-title">Información del evento</h3>
                            <p><strong>Nombre del Evento:</strong> <span class="event-name"> Lorem ipsum </span></p>
                            <p><strong>Fecha:</strong> <span class="event-day"> 10-10-2019</span> <span class="event-time"> 10:30 AM</span></p>
                            <p><strong>Cupos disponibles:</strong> <span class="event-quotas"> 18/22</span></p>
                            <p><strong>Categoría:</strong> <span class="event-category"> Evento privado </span></p>
                            <p><strong>Link del evento:</strong> <a class="event-link" href="#"> https://www.vinolia.cl/evento/adsdas </a></p>
                          </div>
                          <div class="col-lg-4">
                            <div class="event-thumbnail"><img class="img-fluid" src="http://placehold.it/250x250" alt=""></div>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer d-flex justify-content-between">
                        <div class="actions d-flex justify-content-between"><a class="btn btn-success btn-lg mr-2" href="#">Editar</a><a class="btn btn-danger btn-lg mr-2" href="#">Bloquear evento</a></div>
                        <div class="delete"><a class="btn btn-link btn-link-danger btn-lg mr-2" href="#">Eliminar evento</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="my-3" id="event-attendant">
                <div class="card">
                  <div class="card-header d-flex justify-content-between">
                    <h2 class="card-title">Lista de asistentes</h2>
                    <div class="actions"><a class="btn btn-info  mr-2" href="event-new-attendant.html">Agregar asistente</a><a class="btn btn-primary" href="#">Descargar Lista</a></div>
                  </div>
                  <div class="card-body">
                    <div class="table-section">
                      <table class="table table-hover dt-responsive" id="datatable-assistants" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                          <tr>
                            <th>N</th>
                            <th>Código de compra </th>
                            <th>Nombre Asistente</th>
                            <th>Tickets Comprados</th>
                            <th>Fecha</th>
                            <th>Correo</th>
                            <th>Valor total</th>
                            <th>Methodo de pago</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>3#ft01</td>
                            <td>Carlota Neira</td>
                            <td>4</td>
                            <td>10-10-2019</td>
                            <td>carlota@gmail.com</td>
                            <td>$100.000</td>
                            <td>Kushi</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>3#ft01</td>
                            <td>Carlota Neira</td>
                            <td>4</td>
                            <td>10-10-2019</td>
                            <td>carlota@gmail.com</td>
                            <td>$100.000</td>
                            <td>Efectivo</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>3#ft01</td>
                            <td>Carlota Neira</td>
                            <td>4</td>
                            <td>10-10-2019</td>
                            <td>carlota@gmail.com</td>
                            <td>$100.000</td>
                            <td>Kushi</td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>3#ft01</td>
                            <td>Carlota Neira</td>
                            <td>4</td>
                            <td>10-10-2019</td>
                            <td>carlota@gmail.com</td>
                            <td>$100.000</td>
                            <td>Efectivo</td>
                          </tr>
                          <tr>
                            <td>5</td>
                            <td>3#ft01</td>
                            <td>Carlota Neira</td>
                            <td>4</td>
                            <td>10-10-2019</td>
                            <td>carlota@gmail.com</td>
                            <td>$100.000</td>
                            <td>Kushi</td>
                          </tr>
                          <tr>
                            <td>6</td>
                            <td>3#ft01</td>
                            <td>Carlota Neira</td>
                            <td>4</td>
                            <td>10-10-2019</td>
                            <td>carlota@gmail.com</td>
                            <td>$100.000</td>
                            <td>Efectivo</td>
                          </tr>
                          <tr>
                            <td>7</td>
                            <td>3#ft01</td>
                            <td>Carlota Neira</td>
                            <td>4</td>
                            <td>10-10-2019</td>
                            <td>carlota@gmail.com</td>
                            <td>$100.000</td>
                            <td>Kushi</td>
                          </tr>
                          <tr>
                            <td>8</td>
                            <td>3#ft01</td>
                            <td>Carlota Neira</td>
                            <td>4</td>
                            <td>10-10-2019</td>
                            <td>carlota@gmail.com</td>
                            <td>$100.000</td>
                            <td>Efectivo</td>
                          </tr>
                          <tr>
                            <td>9</td>
                            <td>3#ft01</td>
                            <td>Carlota Neira</td>
                            <td>4</td>
                            <td>10-10-2019</td>
                            <td>carlota@gmail.com</td>
                            <td>$100.000</td>
                            <td>Kushi</td>
                          </tr>
                          <tr>
                            <td>10</td>
                            <td>3#ft01</td>
                            <td>Carlota Neira</td>
                            <td>4</td>
                            <td>10-10-2019</td>
                            <td>carlota@gmail.com</td>
                            <td>$100.000</td>
                            <td>Efectivo</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Basic-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/metisMenu.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/waves.min.js"></script>
    
    <!-- plugins-->
    <!--daterangepicker-->
    <script src="plugins/daterangepicker/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    
    <!--datepicker-->
    <script src="plugins/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
    
    <!--datatable-->
    <script src="plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Datatable responsive-->
    <script src="plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="plugins/datatables/responsive.bootstrap4.min.js"></script>
    <!--fullcalendar-->
    <script src="plugins/fullcalendar/js/fullcalendar.min.js"></script>
    <!--Dropzone-->
    <script src="plugins/dropzone/dist/dropzone.js"></script>
    <!-- init files-->
    <script src="assets/pages/calendar-init.js"></script>
    <script src="assets/pages/datatables.init.js"></script>
    
    <script src="assets/js/app.js"></script>
    <script src="assets/js/custom.js"></script>
  </body>
</html>
