event-new-attendant.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <!-- Chartist Chart CSS -->
    <link href="plugins/chartist/css/chartist.min.css" rel="stylesheet">
    <!-- Bootstrap 4.0-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!--Datepicker-->
    <link href="plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">
    
    <!-- Daterangepicker-->
    <link href="plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Data table-->
    <link href="plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet">
    <!-- data table responsive-->
    <link href="plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet">
    <!-- Sweet alert-->
    <link href="plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet">
    
    <!-- Calendario-->
    <link href="plugins/fullcalendar/css/fullcalendar.min.css" rel="stylesheet">
    <!-- -->
    <!--Dropzone-->
    <link href="plugins/dropzone/dist/dropzone.css" rel="stylesheet">
    
    <!--theme css-->
    <link href="assets/css/metismenu.min.css" rel="stylesheet">
    <link href="assets/css/icons.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-vinolia.css" rel="stylesheet">
    <!-- Estilos desarrollo -->
  </head>
  <body>
    <div id="wrapper">
      <div class="topbar">
        <div class="topbar-left"><a class="logo" href="index.html"><span><img src="assets/images/logo.png" alt="" width="150"></span><i><img src="assets/images/logo-sm.png" alt="" height="42"></i></a></div>
        <nav class="navbar-custom">
          <ul class="navbar-right d-flex list-inline float-right mb-0">
            <li class="dropdown notification-list d-none d-md-block"><a class="nav-link waves-effect" href="#" id="btn-fullscreen"><i class="mdi mdi-fullscreen noti-icon"></i></a></li>
            <li class="dropdown notification-list">
              <div class="dropdown notification-list nav-pro-img"><a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"><img class="rounded-circle" src="assets/images/users/user-4.jpg" alt="user"></a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown"><a class="dropdown-item" href=""><i class="mdi mdi-account-circle m-r-5"></i>Profile</a><a class="dropdown-item" href=""><i class="mdi mdi-wallet m-r-5"></i>My Wallet</a><a class="dropdown-item  d-block" href=""><span class="badge badge-success float-right"></span>11</a>
                  <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href=""><i class="mdi mdi-power text-danger">Salir</i></a>
                </div>
              </div>
            </li>
          </ul>
          <ul class="list-inline menu-left mb-0">
            <li class="float-left">
              <button class="button-menu-mobile open-left waves-effect"><i class="mdi mdi-menu"></i></button>
            </li>
          </ul>
          <h1 class="topbar-title">Mantenedor de Eventos y tickets</h1>
        </nav>
      </div>
      <div class="left side-menu">
        <div class="slimscroll-menu" id="remove-scroll">
          <div id="sidebar-menu">
            <ul class="metismenu" id="side-menu">
              <li><a class="waves-effect" href="index.html"><span>Eventos</span></a></li>
              <li><a class="waves-effect" href="event-new.html"><span>Crear nuevo Eventos                </span></a></li>
              <li><a class="waves-effect" href="event-calendar.html"><span>Calendario de eventos</span></a></li>
              <li><a class="waves-effect" href="promotions-code.html"><span>Manejador de descuentos</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="content-page">
        <div class="content">
          <div class="container-fluid">
            <div class="page-title-box">
              <div class="row align-items-center">
                <div class="col-sm-6">
                  <h4 class="page-title">Añadir Asistentes</h4>
                </div>
              </div>
            </div>
            <form action="">
              <div class="row">
                <div class="col-lg-6">
                  <div class="card card-personal-data mb-3">
                    <div class="card-body">
                      <h2 class="card-title">  Datos Personales</h2>
                      <div class="form-row my-3">
                        <div class="col-6">
                          <label for="name">Nombre</label>
                          <input class="form-control" type="text">
                        </div>
                        <div class="col-6">
                          <label for="last-name">Apellido</label>
                          <input class="form-control" type="text">
                        </div>
                      </div>
                      <div class="form-row my-3">
                        <div class="col-6">
                          <label for="email">Email</label>
                          <input class="form-control" type="email">
                        </div>
                        <div class="col-6">
                          <label for="last-name">Teléfono</label>
                          <input class="form-control" type="text">
                        </div>
                      </div>
                      <div class="form-row my-3">
                        <div class="col-12 mb-3">
                          <label for="contry">Pais de Origen</label>
                          <select class="form-control" name="contry">
                            <option value="1">pais</option>
                          </select>
                        </div>
                        <div class="col-6">
                          <label for="como">¿Cómo nos conoció?</label>
                          <select class="form-control" id="como" name="como">
                            <option value="0">Seleccione</option>
                            <option value="1">Hotel</option>
                            <option value="2">Redes sociales</option>
                            <option value="3">Medios impresos</option>
                            <option value="4">Un amigo</option>
                            <option value="5">Google o buscadores</option>
                            <option value="6">Otro</option>
                          </select>
                        </div>
                        <div class="col-6" id="CNC_input">
                          <label for="">¿Cuál ?</label>
                          <input class="form-control" type="text">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card card-attendant mb-3">
                    <div class="card-body">
                      <h3 class="card-title">Asistentes</h3>
                      <div class="form-row">
                        <div class="col-lg-12">
                          <label>¿Cuántas personas Vienen?</label>
                          <input class="form-control" type="text">
                        </div>
                      </div>
                      <div class="form-row my-3">
                        <div class="col-lg-4 d-flex align-items-center">
                          <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="check_Menores">
                            <label class="custom-control-label" for="check_Menores">¿Menores de edad?</label>
                          </div>
                        </div>
                        <div class="col-lg-4" id="how-many-kids">
                          <label for="">¿Cuántos?</label>
                          <input class="form-control" type="text">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card card-attendant mb-3">
                    <div class="card-body">
                      <h3 class="card-title">Valores</h3>
                      <div class="form-group">
                        <label for="">Total</label>
                        <input class="form-control" type="text">
                      </div>
                      <div class="form-group">
                        <label for="">Metodo de pago</label>
                        <select class="form-control" name="metodo-pago">
                          <option value="1">redcompra</option>
                          <option value="2">Efectivo</option>
                          <option value="3">Kushiki</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="actions d-flex justify-content-center">
                <button class="btn btn-lg btn-danger mr-3 cancel">Cancelar</button><a class="btn btn-lg btn-success" href="#">Guardar                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--Basic-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/metisMenu.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/waves.min.js"></script>
    
    <!-- plugins-->
    <!--daterangepicker-->
    <script src="plugins/daterangepicker/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    
    <!--datepicker-->
    <script src="plugins/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
    
    <!--datatable-->
    <script src="plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Datatable responsive-->
    <script src="plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="plugins/datatables/responsive.bootstrap4.min.js"></script>
    <!--fullcalendar-->
    <script src="plugins/fullcalendar/js/fullcalendar.min.js"></script>
    <!--Dropzone-->
    <script src="plugins/dropzone/dist/dropzone.js"></script>
    <!-- init files-->
    <script src="assets/pages/calendar-init.js"></script>
    <script src="assets/pages/datatables.init.js"></script>
    
    <script src="assets/js/app.js"></script>
    <script src="assets/js/custom.js"></script>
  </body>
</html>

_dev/pug/event-new-attendant.pug
include mixins.pug
doctype
html(lang="es")
    head
        include head.pug
    body
        #wrapper
            include topbar.pug
            include menu.pug
            +main-content
                +page-title('Añadir Asistentes')
                form(action="")
                    .row
                        .col-lg-6
                            .card.card-personal-data.mb-3
                                .card-body
                                    h2.card-title   Datos Personales
                                    .form-row.my-3
                                        .col-6
                                            label(for="name") Nombre
                                            input(type="text" class="form-control")
                                        .col-6
                                            label(for="last-name") Apellido
                                            input(type="text" class="form-control")                                    
                                    .form-row.my-3
                                        .col-6
                                            label(for="email") Email
                                            input(type="email" class="form-control")
                                        .col-6
                                            label(for="last-name") Teléfono
                                            input(type="text" class="form-control")    
                                    .form-row.my-3
                                        .col-12.mb-3
                                            label(for="contry") Pais de Origen
                                            select(name="contry" class="form-control")
                                                option(value="1") pais
                                        .col-6
                                            label(for="como") ¿Cómo nos conoció?
                                            select(id="como" name="como" class="form-control")
                                                option(value="0") Seleccione
                                                option(value="1") Hotel
                                                option(value="2") Redes sociales
                                                option(value="3") Medios impresos
                                                option(value="4") Un amigo
                                                option(value="5") Google o buscadores
                                                option(value="6") Otro
                                        .col-6(id="CNC_input")
                                            label(for="") ¿Cuál ?
                                            input(type="text" class="form-control")

                        .col-lg-6
                            .card.card-attendant.mb-3
                                .card-body
                                    h3.card-title Asistentes
                                    .form-row
                                        .col-lg-12
                                            label ¿Cuántas personas Vienen?
                                            input(type="text" class="form-control")
                                    .form-row.my-3
                                        .col-lg-4.d-flex.align-items-center
                                            .custom-control.custom-checkbox
                                                input(type="checkbox" class="custom-control-input" id="check_Menores")
                                                label(class="custom-control-label" for="check_Menores") ¿Menores de edad?
                                        #how-many-kids.col-lg-4
                                            label(for="") ¿Cuántos?
                                            input(type="text" class="form-control")
                            .card.card-attendant.mb-3
                                .card-body
                                    h3.card-title Valores
                                    .form-group
                                        label(for="") Total
                                        input(type="text" class="form-control")
                                    .form-group
                                        label(for="") Metodo de pago
                                        select(name="metodo-pago" class="form-control")
                                            option(value="1") redcompra
                                            option(value="2") Efectivo
                                            option(value="3") Kushiki
                    .actions.d-flex.justify-content-center
                        button(class="btn btn-lg btn-danger mr-3 cancel") Cancelar
                        a(href="#" class="btn btn-lg btn-success") Guardar                
                         

                




                    
        include scripts.pug
