_dev/pug/event-new.pug
include mixins.pug
doctype
html(lang="es")
    head
        include head.pug
    body
        #wrapper
            include topbar.pug
            include menu.pug
            +main-content
                +page-title('Crear Evento')
                form(action="#" method="post")
                    .row
                        .col-lg-6

                            #card-event-description.card.custom-inputs
                                .card-header
                                    h2.card-title Descripción del Evento
                                    .form-inline
                                        label(for="").mr-2 ID del Evento
                                        input(type="text" class="form-control")
                                .card-body
                                    .form-group
                                        label(for="") Nombre del evento
                                        input(type="text" class="form-control")
                                    .form-group
                                        label(for="") Descripción
                                        textarea(name="", cols="30", rows="10" class="form-control")
                                    .form-group
                                        label(for="") Descripción corta
                                        textarea(name="", cols="30", rows="5" class="form-control")

                                    .form-group
                                        label(for="") Nombre del evento
                                        input(type="text" class="form-control")
                                    .form-group
                                        .custom-control.custom-checkbox.mr-3
                                            input(type="checkbox" class="custom-control-input" id="privateEvent" name="daterange" )
                                            label(class="custom-control-label" for="privateEvent") Evento Privado

                        .col-lg-6
                            #card-event-price.card.custom-inputs
                                .card-header.d-flex
                                    h3.card-title Valor
                                .card-body
                                    .form-row
                                        .col-md-6
                                            .form-group
                                                label(for="") Valores Adultos
                                                .form-row
                                                    .col-6.input-group
                                                        .input-group-prepend
                                                            span.input-group-text $
                                                        input(type="text" class="form-control")
                                                    .col-6.input-group
                                                        .input-group-prepend
                                                            span.input-group-text USD
                                                        input(type="text" class="form-control")
                                            .form-group
                                                label(for="") Valores Niños
                                                .form-row
                                                    .col-6.input-group
                                                        .input-group-prepend
                                                            span.input-group-text $
                                                        input(type="text" class="form-control")
                                                    .col-6.input-group
                                                        .input-group-prepend
                                                            span.input-group-text USD
                                                        input(type="text" class="form-control")                                        

                                        .col-md-6
                                            .form-group
                                                label(for="") Cupos Disponibles
                                                input(type="text" class="form-control") 
                                            .form-group
                                                label(for="") Seleccione el evento que comparte cupos
                                                select(name="" class="form-control")
                                                    option(value="1")
                            #card-event-gallery.card.my-2
                                .card-header
                                    h3.card-title Imagen destacada
                                .card-body
                                    .custom-file
                                        input(type="file" class="custom-file-input" id="customFile" )
                                        label(class="custom-file-label" for="customFile") Elegir archivo
    
                    .row
                        .col-lg-6
                            #card-event-range.card
                                .card-header
                                    h3.card-title Duración
                                .card-body 
                                    .form-inline.mb-3
                                        span.mr-2 Evento recurrente
                                        input(type="checkbox" id="switch3" switch="bool" )
                                        label(for="switch3" data-on-label="Yes" data-off-label="No")
                                    .form-inline#week-days.mb-3
                                        .custom-control.custom-checkbox.mr-3
                                            input(type="checkbox" class="custom-control-input" id="allweek")
                                            label(class="custom-control-label" for="allweek") Todos los días
                                        .custom-control.custom-checkbox.mr-3
                                            input(type="checkbox" class="custom-control-input" id="monday")
                                            label(class="custom-control-label" for="monday") Lunes                           
                                        .custom-control.custom-checkbox.mr-3
                                            input(type="checkbox" class="custom-control-input" id="tuesday")
                                            label(class="custom-control-label" for="tuesday") Martes
                                        .custom-control.custom-checkbox.mr-3
                                            input(type="checkbox" class="custom-control-input" id="wednesday")
                                            label(class="custom-control-label" for="wednesday") Miercoles
                                        .custom-control.custom-checkbox.mr-3
                                            input(type="checkbox" class="custom-control-input" id="thursday")
                                            label(class="custom-control-label" for="thursday") Jueves
                                        .custom-control.custom-checkbox.mr-3
                                            input(type="checkbox" class="custom-control-input" id="friday")
                                            label(class="custom-control-label" for="friday") Viernes
                                        .custom-control.custom-checkbox.mr-3
                                            input(type="checkbox" class="custom-control-input" id="saturday")
                                            label(class="custom-control-label" for="saturday") Sábado

                                    #only-day.form-row.mb-3
                                        .col-lg-6
                                            span Día
                                            #datetimepicker5.input-group.date(data-target-input="nearest")
                                                input(type="text" class="form-control datetimepicker-input" data-target="#datetimepicker5")
                                                .input-group-append(data-target="#datetimepicker5" data-toggle="datetimepicker")
                                                    span.input-group-text
                                                        i.far.fa-calendar                                    
                                    .form-row.mb-3
                                        .col-lg-4
                                            span Desde
                                            #datetimepicker3.input-group.date(data-target-input="nearest")
                                                input(type="text" class="form-control datetimepicker-input" data-target="#datetimepicker3")
                                                .input-group-append(data-target="#datetimepicker3" data-toggle="datetimepicker")
                                                    span.input-group-text
                                                        i.far.fa-clock
                                        .col-lg-4
                                            span Hasta
                                            #datetimepicker4.input-group.date(data-target-input="nearest")
                                                input(type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4")
                                                .input-group-append(data-target="#datetimepicker4" data-toggle="datetimepicker")
                                                    span.input-group-text
                                                        i.far.fa-clock
                                        .col-lg-4.d-flex.align-items-end
                                            p.mb-0 Duración: 
                                                span.timelapse 2 horas

                    .actions.d-flex.justify-content-center
                        button(href="#" class="btn btn-lg btn-danger mr-3 cancel") Cancelar
                        button(type="submit" class="btn btn-lg  btn-success") Guardar Evento


                




                    
        include scripts.pug

event-new.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <!-- Chartist Chart CSS -->
    <link href="plugins/chartist/css/chartist.min.css" rel="stylesheet">
    <!-- Bootstrap 4.0-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!--Datepicker-->
    <link href="plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">
    
    <!-- Daterangepicker-->
    <link href="plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Data table-->
    <link href="plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet">
    <!-- data table responsive-->
    <link href="plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet">
    <!-- Sweet alert-->
    <link href="plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet">
    
    <!-- Calendario-->
    <link href="plugins/fullcalendar/css/fullcalendar.min.css" rel="stylesheet">
    <!-- -->
    <!--Dropzone-->
    <link href="plugins/dropzone/dist/dropzone.css" rel="stylesheet">
    
    <!--theme css-->
    <link href="assets/css/metismenu.min.css" rel="stylesheet">
    <link href="assets/css/icons.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-vinolia.css" rel="stylesheet">
    <!-- Estilos desarrollo -->
  </head>
  <body>
    <div id="wrapper">
      <div class="topbar">
        <div class="topbar-left"><a class="logo" href="index.html"><span><img src="assets/images/logo.png" alt="" width="150"></span><i><img src="assets/images/logo-sm.png" alt="" height="42"></i></a></div>
        <nav class="navbar-custom">
          <ul class="navbar-right d-flex list-inline float-right mb-0">
            <li class="dropdown notification-list d-none d-md-block"><a class="nav-link waves-effect" href="#" id="btn-fullscreen"><i class="mdi mdi-fullscreen noti-icon"></i></a></li>
            <li class="dropdown notification-list">
              <div class="dropdown notification-list nav-pro-img"><a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"><img class="rounded-circle" src="assets/images/users/user-4.jpg" alt="user"></a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown"><a class="dropdown-item" href=""><i class="mdi mdi-account-circle m-r-5"></i>Profile</a><a class="dropdown-item" href=""><i class="mdi mdi-wallet m-r-5"></i>My Wallet</a><a class="dropdown-item  d-block" href=""><span class="badge badge-success float-right"></span>11</a>
                  <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href=""><i class="mdi mdi-power text-danger">Salir</i></a>
                </div>
              </div>
            </li>
          </ul>
          <ul class="list-inline menu-left mb-0">
            <li class="float-left">
              <button class="button-menu-mobile open-left waves-effect"><i class="mdi mdi-menu"></i></button>
            </li>
          </ul>
          <h1 class="topbar-title">Mantenedor de Eventos y tickets</h1>
        </nav>
      </div>
      <div class="left side-menu">
        <div class="slimscroll-menu" id="remove-scroll">
          <div id="sidebar-menu">
            <ul class="metismenu" id="side-menu">
              <li><a class="waves-effect" href="index.html"><span>Eventos</span></a></li>
              <li><a class="waves-effect" href="event-new.html"><span>Crear nuevo Eventos                </span></a></li>
              <li><a class="waves-effect" href="event-calendar.html"><span>Calendario de eventos</span></a></li>
              <li><a class="waves-effect" href="promotions-code.html"><span>Manejador de descuentos</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="content-page">
        <div class="content">
          <div class="container-fluid">
            <div class="page-title-box">
              <div class="row align-items-center">
                <div class="col-sm-6">
                  <h4 class="page-title">Crear Evento</h4>
                </div>
              </div>
            </div>
            <form action="#" method="post">
              <div class="row">
                <div class="col-lg-6">
                  <div class="card custom-inputs" id="card-event-description">
                    <div class="card-header">
                      <h2 class="card-title">Descripción del Evento</h2>
                      <div class="form-inline">
                        <label class="mr-2" for="">ID del Evento</label>
                        <input class="form-control" type="text">
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="form-group">
                        <label for="">Nombre del evento</label>
                        <input class="form-control" type="text">
                      </div>
                      <div class="form-group">
                        <label for="">Descripción</label>
                        <textarea class="form-control" name="" cols="30" rows="10"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="">Descripción corta</label>
                        <textarea class="form-control" name="" cols="30" rows="5"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="">Nombre del evento</label>
                        <input class="form-control" type="text">
                      </div>
                      <div class="form-group">
                        <div class="custom-control custom-checkbox mr-3">
                          <input class="custom-control-input" type="checkbox" id="privateEvent" name="daterange">
                          <label class="custom-control-label" for="privateEvent">Evento Privado</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card custom-inputs" id="card-event-price">
                    <div class="card-header d-flex">
                      <h3 class="card-title">Valor</h3>
                    </div>
                    <div class="card-body">
                      <div class="form-row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="">Valores Adultos</label>
                            <div class="form-row">
                              <div class="col-6 input-group">
                                <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                <input class="form-control" type="text">
                              </div>
                              <div class="col-6 input-group">
                                <div class="input-group-prepend"><span class="input-group-text">USD</span></div>
                                <input class="form-control" type="text">
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="">Valores Niños</label>
                            <div class="form-row">
                              <div class="col-6 input-group">
                                <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                <input class="form-control" type="text">
                              </div>
                              <div class="col-6 input-group">
                                <div class="input-group-prepend"><span class="input-group-text">USD</span></div>
                                <input class="form-control" type="text">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="">Cupos Disponibles</label>
                            <input class="form-control" type="text">
                          </div>
                          <div class="form-group">
                            <label for="">Seleccione el evento que comparte cupos</label>
                            <select class="form-control" name="">
                              <option value="1"></option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card my-2" id="card-event-gallery">
                    <div class="card-header">
                      <h3 class="card-title">Imagen destacada</h3>
                    </div>
                    <div class="card-body">
                      <div class="custom-file">
                        <input class="custom-file-input" type="file" id="customFile">
                        <label class="custom-file-label" for="customFile">Elegir archivo</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="card" id="card-event-range">
                    <div class="card-header">
                      <h3 class="card-title">Duración</h3>
                    </div>
                    <div class="card-body"> 
                      <div class="form-inline mb-3"><span class="mr-2">Evento recurrente</span>
                        <input type="checkbox" id="switch3" switch="bool">
                        <label for="switch3" data-on-label="Yes" data-off-label="No"></label>
                      </div>
                      <div class="form-inline mb-3" id="week-days">
                        <div class="custom-control custom-checkbox mr-3">
                          <input class="custom-control-input" type="checkbox" id="allweek">
                          <label class="custom-control-label" for="allweek">Todos los días</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-3">
                          <input class="custom-control-input" type="checkbox" id="monday">
                          <label class="custom-control-label" for="monday">Lunes                           </label>
                        </div>
                        <div class="custom-control custom-checkbox mr-3">
                          <input class="custom-control-input" type="checkbox" id="tuesday">
                          <label class="custom-control-label" for="tuesday">Martes</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-3">
                          <input class="custom-control-input" type="checkbox" id="wednesday">
                          <label class="custom-control-label" for="wednesday">Miercoles</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-3">
                          <input class="custom-control-input" type="checkbox" id="thursday">
                          <label class="custom-control-label" for="thursday">Jueves</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-3">
                          <input class="custom-control-input" type="checkbox" id="friday">
                          <label class="custom-control-label" for="friday">Viernes</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-3">
                          <input class="custom-control-input" type="checkbox" id="saturday">
                          <label class="custom-control-label" for="saturday">Sábado</label>
                        </div>
                      </div>
                      <div class="form-row mb-3" id="only-day">
                        <div class="col-lg-6"><span>Día</span>
                          <div class="input-group date" id="datetimepicker5" data-target-input="nearest">
                            <input class="form-control datetimepicker-input" type="text" data-target="#datetimepicker5">
                            <div class="input-group-append" data-target="#datetimepicker5" data-toggle="datetimepicker"><span class="input-group-text"><i class="far fa-calendar">                                   </i></span></div>
                          </div>
                        </div>
                      </div>
                      <div class="form-row mb-3">
                        <div class="col-lg-4"><span>Desde</span>
                          <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                            <input class="form-control datetimepicker-input" type="text" data-target="#datetimepicker3">
                            <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker"><span class="input-group-text"><i class="far fa-clock"></i></span></div>
                          </div>
                        </div>
                        <div class="col-lg-4"><span>Hasta</span>
                          <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                            <input class="form-control datetimepicker-input" type="text" data-target="#datetimepicker4">
                            <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker"><span class="input-group-text"><i class="far fa-clock"></i></span></div>
                          </div>
                        </div>
                        <div class="col-lg-4 d-flex align-items-end">
                          <p class="mb-0">Duración: <span class="timelapse">2 horas</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="actions d-flex justify-content-center">
                <button class="btn btn-lg btn-danger mr-3 cancel" href="#">Cancelar</button>
                <button class="btn btn-lg  btn-success" type="submit">Guardar Evento</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--Basic-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/metisMenu.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/waves.min.js"></script>
    
    <!-- plugins-->
    <!--daterangepicker-->
    <script src="plugins/daterangepicker/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    
    <!--datepicker-->
    <script src="plugins/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
    
    <!--datatable-->
    <script src="plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Datatable responsive-->
    <script src="plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="plugins/datatables/responsive.bootstrap4.min.js"></script>
    <!--fullcalendar-->
    <script src="plugins/fullcalendar/js/fullcalendar.min.js"></script>
    <!--Dropzone-->
    <script src="plugins/dropzone/dist/dropzone.js"></script>
    <!-- init files-->
    <script src="assets/pages/calendar-init.js"></script>
    <script src="assets/pages/datatables.init.js"></script>
    
    <script src="assets/js/app.js"></script>
    <script src="assets/js/custom.js"></script>
  </body>
</html>
