_dev/pug/login.pug
doctype
html(lang="es")
    head
        include head.pug
    body
        .home-btn.d-none.d-sm-block
            a(href="inde.html").text-white
                i.fas.fas-home.h2
        .accountbg
        .wrapper-page.account-page-full
            .card
                .card-body
                    .text-center
                        a(href="index.html").logo
                            img(src="assets/images/logo-dark.png", width="200" ,alt="logo")
                    .p-3
                        h4.font-1.m-b-5.text-center Bienvenido
                        p.text-mmuted.text-center Ingresa para conocer una nueva forma de enviar tus correos
                        include login-form.pug


        include scripts.pug

login.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <!-- Chartist Chart CSS -->
    <link href="plugins/chartist/css/chartist.min.css" rel="stylesheet">
    <!-- Bootstrap 4.0-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!--Datepicker-->
    <link href="plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">
    
    <!-- Daterangepicker-->
    <link href="plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Data table-->
    <link href="plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet">
    <!-- data table responsive-->
    <link href="plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet">
    <!-- Sweet alert-->
    <link href="plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet">
    
    <!-- Calendario-->
    <link href="plugins/fullcalendar/css/fullcalendar.min.css" rel="stylesheet">
    <!-- -->
    <!--Dropzone-->
    <link href="plugins/dropzone/dist/dropzone.css" rel="stylesheet">
    
    <!--theme css-->
    <link href="assets/css/metismenu.min.css" rel="stylesheet">
    <link href="assets/css/icons.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-vinolia.css" rel="stylesheet">
    <!-- Estilos desarrollo -->
  </head>
  <body>
    <div class="home-btn d-none d-sm-block"><a class="text-white" href="inde.html"><i class="fas fas-home h2"></i></a></div>
    <div class="accountbg"></div>
    <div class="wrapper-page account-page-full">
      <div class="card">
        <div class="card-body">
          <div class="text-center"><a class="logo" href="index.html"><img src="assets/images/logo-dark.png" width="200" alt="logo"></a></div>
          <div class="p-3">
            <h4 class="font-1 m-b-5 text-center">Bienvenido</h4>
            <p class="text-mmuted text-center">Ingresa para conocer una nueva forma de enviar tus correos</p>
            <form class="form-horizontal">
              <div class="form-group">
                <label for="username">Usuario</label>
                <input class="form-control" type="text" id="username" placeholder="Nombre de Usuario">
              </div>
              <div class="form-group">
                <label for="userpassword">Contraseña</label>
                <input class="form-control" id="userpassword" type="password">
              </div>
              <div class="form-group row mt-20">
                <div class="col-sm-6">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="customControlInline">
                    <label class="custom-control-label" for="customControlInline">Recordarme</label>
                  </div>
                </div>
                <div class="col-sm-6 text-right">
                  <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Ingresar</button>
                </div>
              </div>
              <div class="form-group m-t-10 mb-0 row">
                <div class="col-12 mt-20"><a href="recovery.html"><i class="mdi mdi-lock"></i>Recuperar contraseña</a></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--Basic-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/metisMenu.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/waves.min.js"></script>
    
    <!-- plugins-->
    <!--daterangepicker-->
    <script src="plugins/daterangepicker/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    
    <!--datepicker-->
    <script src="plugins/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
    
    <!--datatable-->
    <script src="plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Datatable responsive-->
    <script src="plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="plugins/datatables/responsive.bootstrap4.min.js"></script>
    <!--fullcalendar-->
    <script src="plugins/fullcalendar/js/fullcalendar.min.js"></script>
    <!--Dropzone-->
    <script src="plugins/dropzone/dist/dropzone.js"></script>
    <!-- init files-->
    <script src="assets/pages/calendar-init.js"></script>
    <script src="assets/pages/datatables.init.js"></script>
    
    <script src="assets/js/app.js"></script>
    <script src="assets/js/custom.js"></script>
  </body>
</html>
